@model IEnumerable<PetSpa.DAL.Entities.PetDetails>

@{
    ViewData["Title"] = "Index";
}

<h1>PetSpa Detalles</h1>

<table class="table table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Pet.Owner.FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pet.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pet.Service.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pet.CreatedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeliveryDate)
            </th>
            <th> Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Pet.Owner.FullName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Pet.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Pet.Service.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Pet.CreatedDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DeliveryDate)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-outline-secondary">Editar</a>
                        <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-outline-info">Detalles</a>
                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-outline-danger">Eliminar</a>
                    </td>
                </tr>        
        }
    </tbody>
</table>

